.submit-page-container
{
    font-family: 'Gowun Batang', serif;
    margin-top:50px;
}

.submit-page-submit-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.submit-page-description{
    color:#ff0000;
    font-weight:bold;
    text-align: center;
    margin-bottom: 20px;
}
.submit-page-file-input-container {
    text-align: center;
    margin: 20px auto;
    width: 90%;
    margin-bottom: 20px;
}
.submit-page-file-input{
    text-align: center;
    width: 50%;
    padding: 12px 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
} 
.submit-page-file-name {
    margin-top: 10px;
    color: #666;
}

.submit-page-button-container {
    text-align: center;
    margin-top: 20px;
    width:100%;
    justify-self: center;
}

.submit-page-submit-button {
    background-color: #5b8cb7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 20px;
    font-size: 18px;
}
.submit-page-submit-button:hover {
    background-color: #242d42;
    color : white;
}