.submit-page-container h1
{
    margin-top:50px;
}
.submit-page-container p {
    text-align: center; 
    color: #333; 
}

.submit-description{
    color:#303030;
    font-weight:bold;
    text-align: center;
    margin-bottom: 20px;
}
.file-input-container {
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.file-input{
    text-align: center;
    width: 50%;
    padding: 12px 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
} 
.file-name {
    margin-top: 10px;
    color: #666;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    width:100%;
    justify-self: center;
}

.submit-button {
    background-color: #5b8cb7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}
.submit-button:hover {
    background-color: #242d42;
    color : white;
}